/**CSS**/


@font-face {
    font-family: gibson;
    src: url(./assets/font/GIBSON/Gibson-SemiBold/Gibson-SemiBold.ttf);
  }

@font-face {
    font-family: neue;
    src: url(./assets/font/NEUE/Neue/neue.ttf);
  }

/**Body*/
body {
    background: url(./assets/images/bg@3x.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

/**Bouton*/

.button--primary {
    border-radius: 4px;
    background: #3740ff;
    color: white;
    box-shadow: 0px 10px 25px 0 rgba(55, 64, 255, 0.2);
    padding: 20px 40px;
    
}

.button--primary:hover {
    background: white;
    color: #3740ff;
}

.button--third {
    color: #3740ff;
    font-weight: 600;
}
.button {
    text-decoration: none;
    font-size: 20px;
    font-family: neue;
    border: none;
}

.fa-arrow-right {
    padding-left: 10px;

}
/**TEXTE*/

h1 {
    font-family: gibson;
    line-height: 50px;
    font-size: 50px;
    color: #181b31;
}

h2 {
    font-size: 40px;
    font-family: gibson;
    line-height: 50px;
    color: #181b31;
}

h3 {
    font-size: 33px;
    font-family: gibson;
    line-height: 45px;
    color: #181b31;
}  

h4 {
    font-family: neue;
    line-height: 15px;
    font-size: 25px;
    color: #181b31;
}
h5 {
    font-family: neue;
    line-height: 15px;
    font-size: 20px;
    color: #181b31;
}
.text1 {
    font-family: gibson;
    font-size: 16px;
    color: #ff3f63;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text2 {
    font-family: neue;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
}

.para1 {
    font-family: neue;
    color: #899097;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

/*Header*/


header .logo {
    margin: 1%;
    width: 70px;
    height: 70px;
}  
header .button {
    float: right;
    margin-top: -3.5%;
    margin-right: 1%;
}
header nav {
    overflow: hidden;
    margin-top: -4%;
    margin-left: 16%;
    font-size: 20px;
}



header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    padding-left: 50px;
    list-style: none;
}

header nav a {
    text-decoration: none;
    font-family: neue;
    color: #899097;
    font-size: 20px;
    
}

header nav ul a:nth-child(1) {
    color: #3740ff;
    font-weight: 600;
}
header .arrow {
    color: #3740ff;
    margin-left: 3.7%;
    margin-top: 0.5%;
}


/*Top Page*/

.container {
    width: 1170px ;
    margin: 0 auto;
    display: flex;
    margin-top: 10%;
}

.col-left {margin-right: 15%;}
.col-left h1 {
    margin-top: 15px;
}

.col-right img {
    margin-top: -80px;
    width: 570px;
}

.container .button {
    top: 50px;
    position: relative;
}

/*Citation we beliewe that*/

.believe {
    background: white;
    height: 150px;
    display: flex;
    padding: 50px;
    width: 1070px;
    box-shadow: 0px 15px 100px 0 #edeef1;
    margin: 0 auto;
    margin-top: 10%;
}
.box-left {
    width: 60%;
    
}

.box-right {
    width: 50%;
    text-align: right;
}
.believe h3 {
    margin-top: -0.5%;
}
.nom {
    font-size: 20px;
    font-family: gibson ;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding-right: 40px;
    text-align: center;

}

.job {
    font-size: 15px;
    font-family: neue;
    color: #899097;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    position: relative;
    margin-bottom: 10px;

}

/*Who We are*/

.profile {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    margin-top: 15%;
}

.profile img{
    position: absolute;
    margin-left: 52%;
    z-index: -1;
    margin-top:-3%;
}

.boxe-left {
    width: 50%;
    margin-right: 10;
    padding-right: 200;

}
.boxe-right {
    width: 585px;
    height: 500px;
    background-color: #aaaaaa;
    margin-left: 5%;
    background-image: url(https://source.unsplash.com/random/600x500);
}

.profile strong {
    font-family: neue;
    line-height: 15px;
    font-size: 20px;
    color: #181b31;
    margin-left: 3%;
}

.button--four {
    background-color: #3740ff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
}
.profile p {
    margin-left: 13%;
    width: 80%;
}
.five{
    background-color: white;
    margin-bottom: 4%;
    margin-top: 4%;
}
.fa-angle-up {
    color:white;
}
.line {
    width: 90%;
    height: 0.5px;
    background-color: #d8dcdf;
  }


/*Ultimate Experience*/

.experience {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    margin-top: 15%;
}
.experience .image{
    position: absolute;
    margin-left: -8%;
    z-index: -1;
    margin-top:-45%;
    
}
.boite-left {
    width: 70%;
    
}

.boite-right {
    width: 30%;
    margin-top: 15%;
    
}

.boite--item {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 20px 100px 0 #edeef1;
    padding: 35px ;
    background: white;
    margin-bottom: 35px;
}

.boite--item:nth-child(2){
    float: right;
    margin-right: 18%;
    margin-top: -40%;
}

.boite--item:nth-child(4){
    float: right;
    margin-right: 18%;
    margin-top: -40%;
}



/*Digital Age*/
.digital {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    margin-top: 10%;
}

.boxes-left {
    width: 50%;
    margin-right: 1%;
}

.boxes--item {
    width: 520px;
    height: 520px;
    background: #aaaaaa;
    border-radius: 5px;
    padding: 25px;
    background-image: url(https://source.unsplash.com/random/600x600);
}

.boxes--item:nth-child(1) {
    margin-top: 15%;
    
}

.boxes--item:nth-child(2) {
    margin-top: 5%;
    
}
.boxes--item:nth-child(3) {
    margin-top: 5%;
    margin-right: -5%;
}

.boxes--item .fa-arrow-right{
    color: white;
    float: right;
    margin-top: -10%;
}

.boxes--item h4 {
    
    font-family: neue;
    font-size: 23px;
    color: white;
    font-weight: 500;
    margin-top: 7px;
}

.boxes-text {
    width: 70%;
    margin-bottom: 20%;
}

.boxes-right .button--third {
    float: right;
    margin-top: 20%;
}


/*Meet the team*/

.team {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

.team-left {
    width: 30%;
    height: 120%;
    margin-top: 7%;
}

.team-left p {
    margin-bottom: 20%;
}

.team-right {
    width: 70%;
}

.team-right img {
    position: absolute;
    margin-left: 18%;
    z-index: 1;
    margin-top:-4%;
}

.team--item1 {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    background-color: #aaaaaa;
    margin-left: 11%;
    margin-top: 5%;
    position: absolute;
    z-index: 2;
    background-image: url(https://source.unsplash.com/random/350x350);
}

.team--item2 {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: #aaaaaa;
    margin-left: 30%;
    position: absolute;
    z-index: 2;
    background-image: url(https://source.unsplash.com/random/300x300);
}

.team--item3 {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-color: #aaaaaa;
    margin-top: 16.5%;
    margin-left: 30%;
    z-index: 2;
    position: absolute;
    background-image: url(https://source.unsplash.com/random/250x250);
}


/*Testimonial*/

.testimonial {
    margin: 0 auto;
    width: 1170px;
    margin-top: 10%;
    margin-bottom: 3%;
}

.testimonial img {
    position: absolute;
    margin-left: 24%;
    margin-top: -4%;
    z-index: -1;
    
}

.testimonial span {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    z-index: 2;
}


.testimonial h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 2;
    width: 680px;
    
}


/*Name*/

 .name {
    margin: 0 auto;
    width: 1170px;
    
    }

 .name .image {
    width: 70px;
    height: 70px;
    box-shadow: 0px 10px 25px 0 #e1e2e7;
    background-color: #aaaaaa;
    border-radius: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
    background-image: url(https://source.unsplash.com/random/70x70);
    }

 .name .job2 {
    font-size: 15px;
    font-family: neue;
    color: #899097;
    text-align: center;
    display: block;
    }

.name .nom2 {
    font-size: 20px;
    font-family: gibson ;
    text-align: center;
    display: block;
}

/*Article section*/

.article {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

.news {
    width: 50%;
    
}
.blog {
    width: 50%;
    margin-left: 10px;
}

.imagenews {
    width: 580px;
    height: 400px;
    border-radius: 2.5px;
    background-color: #aaaaaa;
    margin-bottom: 5%;
    background-image: url(https://source.unsplash.com/random/600x400);
}

.imageblog {
    width: 580px;
    height: 400px;
    border-radius: 2.5px;
    background-color: #aaaaaa;
    margin-bottom: 5%;
    background-image: url(https://source.unsplash.com/random/600x400);
}

.article .info{
    font-family: neue;
    size: 20px;
    color: #899097;
}

/*Ready to rock*/

.rock {
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cole-left {
    width: 30%;
}

.cole-right {
    width: 30%;
}

.cole-right img{
    float: right;
}

.cole-left img{
    float: left;
}

.cole-mid {
    width: 40%;
    text-align: center;
}
.cole-mid p {
    margin-top: -3%;
    margin-bottom: 15%;
}

/*Link*/

.link {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;
}

.link--item {
    width: 25%;
}
.link ul {
    list-style: none;
    line-height: 50px;
    justify-content: space-between;
}

.link ul a {
    font-family: neue;
    color: #899097; 
    text-decoration: none;
    font-size: 16px;
}


.link .primary {
    font-family: Gibson;
    font-size: 22px;
    font-weight: 600;
    color: #181b31;
}

/*FOOTER*/

footer {
    margin: 0 auto;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 5%;
    font-family: neue;
    color: #899097;
}

footer div {
    letter-spacing: 10px;
    margin-bottom: 20px;
}

footer div a {
    color: #899097;
}

.fa-heart {
    color: #ff3f63;
}